.DS_Store
__pycache__
dist
*.egg-info
# folders
/gitignore_folder/
/BEASTIE/__pycache__
# files
run_extractHets_atacseq.py
run_BEASTIE.sh
.ipynb_checkpoints/
BEASTIE/run_config*
BEASTIE/parameters*
*.icloud
*.pptx
~/.beastie/ldlink_cache.db
