.DS_Store
__pycache__
dist
*.egg-info
BEASTIE_example/ATACseq/beastie/*
BEASTIE/LinearReg_iBEASTIE_fitted_model_lambda_loglambda.rds
BEASTIE/LinearReg_iBEASTIE_fitted_model_lambda.rds
BEASTIE/reference
BEASTIE/NOTSYNTOGIT_file
BEASTIE_example/HG00096_chr20
BEASTIE_example/**/output
BEASTIE_example/**/*inuse*
BEASTIE_example/ATACseq/beastie_old/
BEASTIE_example/ATACseq/beastie
BEASTIE_example/1000Genome/
/home/scarlett/github/BEASTIE/BEASTIE_example/NA12878_chr21/*bam*
/home/scarlett/github/BEASTIE/BEASTIE_example/NA12878_chr21/*fa*
other_example/
.ipynb_checkpoints/
BEASTIE/run_config*
BEASTIE/parameters*
BEASTIE_example/ATACseq/.no_chr.content.SNPs.hets.vcf
*.icloud
*.pptx
~/.beastie/ldlink_cache.db
BEASTIE_example/HG00096/HG00096_pileup.tsv
BEASTIE_example/HG00096/HG00096.remove_chr.content.SNPs.hets.header.vcf
BEASTIE_example/HG00096/HG00096.remove_chr.content.SNPs.hets.header.vcf.gz
BEASTIE_example/HG00096/HG00096.remove_chr.content.SNPs.hets.header.vcf.gz.tbi
BEASTIE_example/HG00096/parameters_HG_python.cfg
run_BEASTIE.sh
